@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
    margin:0px;
    padding:0px ;
    font-size: 1em;
}
:root {

    --cor01:#87A18A;
    --cor02:#6EEB7E;
    --cor03:#EBE696;
    --cor04:#9E876A;
    --cor05:#EBAC5E;
    --texto-site:'Raleway', sans-serif;
}
body {
        background-color: beige;
}
header {
    padding: 30px 15px;
    background-image: linear-gradient(180deg , var(--cor01), var(--cor02),transparent);
    text-align: center;
}

header h1 {
    font-size: 6vmax;
    color: var(--cor03);
}
header p {
    color: var(--cor05);
    font-size: 1.5vmax;
}
main {
    margin:auto;
    max-width: 1000px;
    position: relative;
    background-color: white;
}

main section {
    position: relative;
    width: 100%;
    line-height: 1.5em;
    font-family: var(--texto-site);
    text-indent: 30px;
}
div.imagens {
    width: 100%;
    position: relative;
    background: whitesmoke url('../imagens/Aves1.jpg') no-repeat fixed;
    background-size: cover;
    padding-bottom: 20%;

}

p#especial {
    position: relative;
    width: 40%;
    color:white;
    font-size: 3vh;
    background-color: rgba(128, 128, 128, 0.253);
    transform: translate(10%, 70%);

}
div#img2 {
    width: 100%;
    background:white url('../imagens/aves2.jpg') no-repeat fixed;
    background-size:cover;
    padding-bottom:20%;
    
}
    

p#especial2 {
    position: relative;
    width: 35%;
    top: 10%;
    left: 5%;
    color: black;
    font-size:2.5vh;
    background-color:rgba(128, 128, 128, 0.24);
    transform: translate(10%, 50%);
}

footer {
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    text-align: center;

}


