@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    background-color: rgba(31, 31, 31, 0.397);
    height: 500px;
}
div#func{
    display: flex;
    flex-direction: row;
    
}
main > input#inumero{
    align-self:center ;
    margin-bottom: 5px;
}



.numeros > button{
    padding:8px;
    margin: 8px;
    background-color: whitesmoke;
}

div.numeros{
    background-color: whitesmoke;
}

